@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap') ;
* {
margin : 0;
padding : 0;
box-sizing : border-box;
position : relative;
font-family : "Roboto";
outline : none;
transition : 0.2s;
}
* button {
cursor : pointer;
}
* ul {
list-style-type : none;
}
* a {
text-decoration : none;
color : inherit;
}
:root {
--color-olive : #666723;
--color-gray : #828282;
--color-red : #E8505B;
--color-egray : #EEEEEE;
--color-fgray : #f5f5f5;
--text-s10 : 10px;
--text-s11 : 11px;
--text-s12 : 12.5px;
--text-s13 : 13px;
--text-s14 : 14px;
--text-s16 : 16px;
--text-w600 : 500;
}

/* !! header  */
.navigation__list {
display : flex;
gap : 30px;
font-family : Roboto, sans-serif;
font-size : 14px;
transition : 0.3s;
color : #2B2A29;
}
.navigation-wrapper, .navigation {
display : flex;
align-items : center;
justify-content : center;
background-color : #f5f5f5;
}
.navigation {
height : 56px;
justify-content : space-between;
max-width : 1319px;
width : 100%;
padding : 0 10px;
}
.navigation__phone {
display : flex;
align-items : center;
transition : 0.3s;
}
.navigation__phone_pre {
color : var(--color-gray);
font-size : var(--text-s14);
}
.navigation__phone_phone {
font-size : var(--text-s16);
font-weight : var(--text-w600);
color : #000;
font-weight : 500;
margin-left : 8px;
}
@media screen and (max-width: 1024px) {
.navigation__list {
font-size : var(--text-s13);
}
}
@media screen and (max-width: 985px) {
.navigation__list {
font-size : var(--text-s12);
line-height : 16px;
}
.navigation__logo__image {
width : 80px;
}
}
@media screen and (max-width: 770px) {
.navigation__phone p {
font-size : var(--text-s13);
}
}
@media screen and (max-width: 750px) {
.navigation__list {
font-size : var(--text-s11);
line-height : 11px;
gap : 20px;
}
.navigation__phone p {
font-size : var(--text-s12);
}
}
@media screen and (max-width: 678px) {
.navigation__list {
font-size : var(--text-s10);
line-height : 10px;
}
.navigation__phone p {
font-size : var(--text-s10);
}
}
@media screen and (max-width: 600px) {
.navigation-wrapper {
display : none;
justify-content : flex-start;
}
}

/* !! main menu */
.main__menu_wrapper, .main__menu {
display : flex;
width : 100%;
justify-content : center;
padding : 0 10px;
height : 50px;
}
.main__menu {
max-width : 1320px;
width : 100%;
justify-content : space-between;
margin : 0 auto;
margin-top : 35px;
}
@media screen and (max-width: 600px) {
.main__menu {
display : none;
}
}
@media screen and (max-width: 800px) {
.main__menu {
height : 40px;
}
.main__menu .menu__catalog {
height : 38px !important ;
width : 38px !important ;
}
.menu__catalog_img {
height : 20px !important ;
width : 20px !important ;
}
}
.menu__button {
border-radius : 25px;
background-color : #fff;
height : 100%;
display : flex;
justify-content : center;
align-items : center;
}
.menu__button:hover { 
  border: 1px solid var(--color-olive);
}

.menu__catalog {
  width : 208px;
  height : 100%;
  border : var(--color-olive) solid 1px;
  display : flex;
  justify-content : space-evenly;
  align-items : center;
  padding : 0 15px;
  color : #fff;
  font-size : 16px;
  background-color: #666723;
}
.menu__catalog:hover { 
  background-color: #F7A707;
  border: 1px solid #F7A707;
}
@media screen and (max-width: 1206px) {
.menu__catalog {
width : max-content !important ;
padding : 0 15px;
}
.menu__catalog div {
padding-left : 10px;
}
.menu__catalog div span {
display : none;
}
}
@media screen and (max-width: 909px) {
.menu__catalog_text {
display : none;
}
}
.menu__search {
width : auto;
display : flex;
align-items : center;
}
.selected-shop {
border-radius : 25px 0 0 25px;
width : 130px;
background-color : #EEEEEE;
height : 100%;
justify-content : center;
align-items : center;
display : flex;
}
.selected-shop svg {
position : absolute;
right : 14px;
}
@media screen and (max-width: 1250px) {
.selected-shop {
width : 99px;
}
}
@media screen and (max-width: 910px) {
.selected-shop {
width : 70px;
}
.selected-shop svg {
display : none;
}
}
@media screen and (max-width: 830px) {
.search_text {
width : 40vw !important ;
}
}
.selected-img {
max-height : 80%;
}
.search_text {
height : 100%;
border : var(--color-egray) solid 1px;
width : 377px;
padding-left : 25px;
}
.search__icon {
border-radius : 0 25px 25px 0;
background-color : #828282;
height : 100%;
width : 65px;
justify-content : center;
align-items : center;
display : flex;
}
@media screen and (max-width: 830px) {
.search__icon {
width : max-content !important ;
padding : 0 17px;
}
}
.menu__icons {
display : flex;
height : 100%;
align-items : center;
gap : 15px;
}

.menu__buttons {
display : flex;
gap : 20px;
}
.account {
background-origin : padding-box;
width : 122px;
border : var(--color-egray) solid 1px;
}
.shopping-cart {
width : 141px;
border : var(--color-egray) solid 1px;
font-weight : 500;
}
.shopping-cart span {
padding : 0 0 0 3px;
}
.button-text {
padding : 0 0 0 12px;
}
@media screen and (max-width: 1120px) {
.account {
border : none;
width : max-content;
}
.account .button-text {
display : none;
}
}
@media screen and (max-width: 1120px) {
.shopping-cart {
border : none;
width : max-content;
}
.shopping-cart .button-text {
display : none;
}
.shopping-cart .rouble {
display : none;
}
.menu__buttons__img {
height : 30px;
width : 30px;
}
}
.button {
height : 100%;
background-color : #fff;
border-radius : 20px;
border : var(--color-olive) solid 1px;
padding : 5px 16px;
color : var(--color-olive);
}
.title {
font-size : 28px;
font-family : Ubuntu;
font-weight : 500;
}
.main__content {
max-width : 1320px;
margin : 0 auto;
margin-top : 40px;
}
.main__content .main__content_wrapper {
display : flex;
justify-content : space-between;
}
.main__content .sliders {
padding : 0 10px;
max-width : 986px;
}
@media screen and (max-width: 990px) {
.main__content .sliders {
max-width : 850px;
}
.title {
font-size : 24px;
}
}
.main__content .sliders .top__wrapper {
display : flex;
height : 100%;
width : auto;
align-items : center;
}
@media screen and (max-width: 600px) {
.main__content .sliders .top__wrapper .top__title {
font-size : 24px;
}
.main__content .sliders .top__wrapper .top__button {
border : none;
margin : 10px;
text-decoration : underline;
}
.main__content .sliders .top__wrapper .top__arrows {
display : none;
}
}
@media screen and (max-width: 540px) {
.main__content .sliders .top__wrapper .top__title {
font-size : 20px;
}
}
@media screen and (max-width: 500px) {
.main__content .sliders .top__wrapper .top__title {
font-size : 18px;
}
}
@media screen and (max-width: 350px) {
.main__content .sliders .top__wrapper .top__title {
font-size : 16px;
}
}
@media screen and (max-width: 320px) {
.main__content .sliders .top__wrapper .top__title {
font-size : 14px;
}
.main__content .sliders .top__wrapper .top__button {
width : 140px;
}
}
@media screen and (max-width: 310px) {
.main__content .sliders .top__wrapper .top__title {
font-size : 12px;
}
.main__content .sliders .top__wrapper .top__button {
font-size : 10px;
margin-left : 5px;
}
}
.main__content .sliders .arrows-wrapper {
width : 86px;
display : flex;
justify-content : space-between;
}
@media screen and (max-width: 600px) {
.top__arrows {
display : none;
}
}
.mobile__navigation {
transition : 1s;
padding : 0 10px 0 10px;
margin-top : 14px;
display : none;
}
.mobile__navigation_top {
height : 30px;
display : flex;
align-items : center;
justify-content : space-between;
}
.mobile__top_wrapper {
align-items : center;
display : flex;
}
.mobile__navigation_logo {
margin : 0 14px 0 27px;
}
.mobile__navigation_text {
font-size : 12px;
font-weight : 500;
}
.mobile__navigation_text .change {
color : #767676;
}
.text__wrapper {
display : flex;
align-items : center;
}
.text__wrapper svg {
margin-left : 5px;
}
.clipboard {
margin-right : 22px;
}
.percentage {
border-radius : 50%;
height : 100%;
}
.mobile__navigation_bottom {
margin-top : 20px;
}
.mobile__search_wrapper {
display : flex;
height : 50px;
}
.mobile__search {
background-color : #F5F5F5;
height : 100%;
border : none;
width : 100%;
border-radius : 25px 0 0 25px;
padding-left : 23px;
font-size : 14px;
font-weight : 600;
color : #4D4D4D;
}
.mobile__search_btn {
border-radius : 0 25px 25px 0;
background-color : #F5F5F5;
height : 100%;
width : 50px;
border : none;
padding-right : 17px;
}
@media screen and (max-width: 600px) {
.mobile__navigation {
display : block;
}
}
.card:hover {
box-shadow : 0 0 10px 5px #EEEEEE;
}
.card__button {
display : flex;
justify-content : center;
align-items : center;
width : 35px;
height : 35px;
border-radius : 50%;
border : var(--color-olive) solid 1px;
background-color : #fff;
position : absolute;
bottom : 13px;
right : 13px;
}
.card__button:hover {
background-color : #666723;
}
.card__button:hover svg {
fill : white;
}
.card__button svg {
fill : var(--color-olive);
}
.card__volume {
margin : 8px 0 8px 0;
font-size : 12px;
color : var(--color-gray);
}
.card__price {
font-size : 16px;
font-weight : bold;
}
.card__price_old {
margin-left : 10px;
font-size : 14px;
font-weight : normal;
color : var(--color-gray);
text-decoration : line-through;
}
.card {
display : flex;
flex-direction : column;
padding : 0 13px 0 13px;
border : var(--color-egray) solid 1px;
border-radius : 25px;
position : relative;
height : 330px;
width : 224px;
}
@media screen and (max-width: 1000px) {
.card {
width : 200px;
}
.favourite {
display : none;
}
.card__volume {
margin : 0;
}
.card__price {
font-weight : normal;
}
}
.card .card__image_wrapper {
display : flex;
justify-content : center;
}
.card .card__image {
width : 145px;
height : 145px;
}
.card .card__description {
font-size : 16px;
font-weight : 500;
margin-top : 20px;
}
.card .favourite {
width : 33px;
height : 33px;
left : 13px;
border : none;
background-color : #EEEEEE;
}
.card .favourite:hover {
background-color : #EEEEEE;
}
.sidebar {
width : 307px;
}
@media screen and (max-width: 1310px) {
.sidebar {
display : none;
}
}
@media screen and (max-width: 1375px) {
.sidebar {
margin-right : 30px;
}
}
.sidebar__content {
display : flex;
flex-direction : column;
gap : 20px;
}
.sidebar__card:hover {
box-shadow : 0 0 10px 5px #EEEEEE;
}
.sidebar__card {
display : flex;
width : 307px;
height : 130px;
position : relative;
border : var(--color-egray) solid 1px;
border-radius : 25px;
}
.sidebar__card .card__content {
display : flex;
flex-direction : column;
padding : 12px 12px 0 12px;
}
.sidebar__card .card__image_wrapper {
padding : 7px 0 0 13px;
}
.sidebar__card .card__image_wrapper .card__image {
height : 75px;
width : 75px;
}
.sidebar__card .card__description {
font-size : 14px;
}
.sidebar__card .card__price {
font-size : 14px;
}

.card__content {
display : flex;
}
.top {
display : flex;
justify-content : space-between;
margin-bottom : 20px;
align-items : center;
}
.top__navigation {
width : 86px;
display : flex;
justify-content : space-between;
margin-right : 40px;
align-items : center;
}
.swiper {
margin-bottom : 50px;
}
.swiper .top__button {
margin-right : 350px;

}
.swiper .top__button.top__button:hover{
  background-color: #666723;
  color: #fff;
}

.swiper .swiper-slide {
height : 333px;
}
.top__button {
padding : 5px 14px;
}


/* !! catalog section  */

.catalog__items {
display : grid;
grid-template-columns : repeat(4,307px);
grid-template-rows : repeat(5,110px);
gap : 30px;
margin-top : 35px;
}
.catalog__item {
display : flex;
align-items : center;
padding-left : 20px;
background-color : #f5f5f5;
border-radius : 20px;
}
.catalog__item:hover {
color : #666723;
box-shadow : 0 0 10px 5px #EEEEEE;
background-color : #fff;
}
.catalog__item:hover svg path {
fill : #F7A707;
}
.catalog__item:hover svg rect {
stroke : #F7A707;
}
.item__name {
margin-left : 20px;
}
@media screen and (max-width: 1320px) {
.catalog__items {
gap : 10px;
}
}
@media screen and (max-width: 1260px) {
.catalog__items {
grid-template-columns : repeat(3,auto);
grid-template-rows : repeat(6,110px);
}
}
@media screen and (max-width: 870px) {
.catalog__items {
grid-template-columns : repeat(2,auto);
grid-template-rows : repeat(6,110px);
}
}
.catalog__item:hover {
box-shadow : 0 0 14px 1px rgb(0, 0, 0, 0.15);
}
.item__name {
margin-left : 20px;
}


/* !! Footer section !! */
.footer {
width : 100%;
height : 265px;
background-color : #EEEEEE;
margin-top : 100px;
font-size : 14px;
}
.footer__wrapper {
max-width : 1320px;
margin : 0 auto;
padding : 0 10px;
}
.footer__top {
display : flex;
justify-content : space-between;
padding-top : 35px;
}
.footer__booster {
display : flex;
flex-direction : column;
}
.footer__padding_wrapper {
display : flex;
justify-content : space-between;
}
.booster__description {
font-size : 14px;
margin-top : 10px;
}
.footer__about {
margin-top : 30px;
display : grid;
grid-template-columns : repeat(2,auto);
grid-template-rows : 20px 20px 20px;
gap : 10px;
}
.footer__about_item {
font-size : 14px;
}
.footer__about_item:hover {
text-decoration : underline;
}
.footer__buttons {
display : flex;
justify-content : space-between;
width : 307px;
height : 40px;
margin-top : 30px;
}
@media screen and (max-width: 1100px) {
.footer__buttons {
width : 307px;
height : 100px;
display : flex;
flex-direction : column;
justify-content : space-between;
align-items : center;
}
}
@media screen and (max-width: 1100px) {
.footer__button {
height : 40px;
}
}
.footer__button {
width : 140px;
height : 100%;
border : black solid 1px;
border-radius : 10px;
display : flex;
align-items : center;
justify-content : center;
}
.footer__button:hover svg {
fill : white;
}
.footer__button:hover {
color : white;
background-color : #000;
}
.footer__button_text {
margin-left : 5px;
}
.contacts__top {
display : flex;
flex-direction : column;
align-items : flex-end;
}
.footer__contacts_number {
font-size : 18px;
margin-top : 8px;
}
.footer__contacts_social {
display : flex;
flex-direction : column;
margin-top : 30px;
align-items : flex-end;
}
.footer__contacts_social_text {
margin-left : 10px;
font-size : 16px;
text-decoration : underline;
}
.footer__bottom {
border-top : 1px solid black;
margin-top : 21px;
padding-top : 18px;
display : flex;
justify-content : space-between;
}
.footer__bottom_item:hover {
text-decoration : underline;
}
.contacts__wrapper {
margin-top : 8px;
display : flex;
align-items : center;
}
